
.create-comment-form {width: 100%; float: none;}

.ratings {
display: inline-block;
line-height: 30px;
vertical-align: middle;
margin-right: 5px;
font-size: 16px;}

.star {
  cursor: pointer;
  display: inline-block;
  float: none;
  font-size: 16px;
  line-height: normal;
  margin: 0 -2px;
  vertical-align: top;}
  
.star a {display: none;}


.hook-reviews {
	position: relative;
	z-index: 100;
	height: 0px !important;
}

#product_comments_block_extra .star::after {
    content: "\E838";
    font-family: "Material Icons";
    color: #d9d9d9;
	display: none;}

.star::after {
    content: "\E838";
    font-family: "Material Icons";
    color: #d9d9d9;}

.star_hover::after {
    color: #fbaf5d;
   content: "\E838";
font-family: "Material Icons";}

.star_on::after {
    content: "\E838";
    font-family: "Material Icons";
    color: #fbaf5d;}

#id_new_comment_form {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    padding: 15px;
    width: 100%;}
#ddcomment-modal .modal-dialog {
    max-width: 700px;}
#ddcomment-modal .modal-dialog .modal-header h2 {
    font-size: 18px;
    line-height: 20px;
	padding: 5px;
	text-transform: uppercase;
    color: #000000;}
	
#ddcomment-modal .modal-dialog .modal-body .product .product_desc {
    line-height: 18px;
    color: #808080;}
#ddcomment-modal .product img {
  border: 1px solid #eaeaea;
  max-width: 100%;}
#ddcomment-modal .modal-dialog .modal-body .product .product_desc .product_name {
    padding: 10px 0 5px;
    color: #000000;
    margin: 0;}
#ddcomment-modal .modal-dialog .modal-body #criterions_list {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 15px;
    margin-bottom: 15px;
    list-style-type: none;
    padding: 0;}
#ddcomment-modal .modal-dialog .modal-body #criterions_list li {
    margin-bottom: 10px;}
#ddcomment-modal .modal-dialog .modal-body #criterions_list label {
    float: left;
    margin: 0 10px 0 0;
    min-width: 100px;
    text-align: left;}
#ddcomment-modal .modal-dialog .modal-body #criterions_list .star_content {
    float: left;}
#ddcomment-modal .modal-dialog .modal-footer {
    text-align: center;}
#ddcomment-modal .modal-dialog .modal-footer button {
    margin: 0 6px;
	border: 1px solid silver !important;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    color: #333333 !important;
    font-weight: normal;
    line-height: 1.25;
	height: 38px !important;}
#ddcomment-modal .modal-dialog .modal-footer button:hover {
    color: #ffffff !important;}
	#ddcomment-modal .modal-content .close {
    color: #333333 !important;}
#product_comments_block_tab .comment_helpful button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    padding: 0;
    border: none;
    line-height: normal;}
#product_comments_block_tab .comment_helpful .usefulness_btn.usefull::before {
    content: "\E8DC";
    font-family: "Material Icons";
    vertical-align: middle;}
#product_comments_block_tab .comment_helpful .usefulness_btn.notusefull::before {
    content: "\E8DB";
    font-family: "Material Icons";
    vertical-align: middle;}
#product_comments_block_tab .comment_helpful .usefulness_btn.usefull:hover {
    color: #008000;}
#product_comments_block_tab .comment_helpful .usefulness_btn.notusefull:hover {
    color: #ff0000;}
#product_comments_block_tab .report_btn {
    cursor: pointer;
    float: right;}
#product_comments_block_tab .comment_helpful {
    float: left;}
#product-comment .comment .comment_details > ul {
    float: left;
    margin: 0;
    width: 100%;}
#product_comments_block_tab .report_btn:hover {
    text-decoration: none !important;
    color: #000000;}
	
#product_comments_block_tab	a:focus, a:hover {
text-decoration: none !important;	
}


#product-comment #new_comment_tab_btn {
    white-space: normal;}
.comments_advices i {
    font-size: 16px;
    line-height: normal;
    vertical-align: middle;}
#product_comments_block_extra .comments_note {
    border-right: 1px solid #cccccc;
    display: inline-block;
    float: none;
    vertical-align: middle;}	
#product_comments_block_extra .comments_advices a {
    border-right: 1px solid #cccccc;
    padding: 0 10px 0 10px;
	margin-right: 5px;
	line-height: 30px;
	vertical-align: middle;
    float: left !important;}
#product_comments_block_extra .comments_advices i {	
    line-height: 30px !important;
    height: 32px !important;
	font-size: 30px !important;
	vertical-align: middle !important;}
#product_comments_block_extra .comments_advices {
    display: inline-block;
    float: none;
    vertical-align: middle;}
#product_comments_block_extra .comments_advices a:last-child {
    border: medium none;
    padding: 0 10px 0 0px;}
#new_comment_form_error.error {
  float: left;
  width: 100%;}
#new_comment_form_error > ul {
  float: left;
  padding: 0px;
  margin: 0px;}
#new_comment_form_error li {
  color: red;
  font-size: 12px;
}
@media (max-width: 543px) {
    .comments_advices .reviews {
        float: left;
        margin: 0 0 5px;
        width: 100%;}
	#product_comments_block_extra .comments_advices a {
        border-right: none;
        padding: 0px;}
    #product_comments_block_extra .comments_note {
        border-right: none;
        padding: 0px;
        margin: 0 0 5px;}
}

.comments_note { margin-bottom: 5px }

#fancybox-wrap { width: 585px }

#fancybox-content {
    width: 585px;
    border-width: 0
}

#new_comment_form {
    width: 585px;
    color: #333;
    text-align: left;
    background-color: #fff
}

#new_comment_form .title {
    padding: 10px;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    background: #333
}

#new_comment_form ul.grade_content { list-style-type: none }

#new_comment_form .grade_content li { width: 50% }

#new_comment_form .product { padding: 15px }

#new_comment_form .product img {
    float: left;
    border: 1px solid #ccc;
}

#new_comment_form .product .product_desc {
    float: left;
    margin-left: 15px;
    width: 300px;
    line-height: 18px;
    color: #666
}

#new_comment_form .product .product_desc .product_name {
    padding-bottom: 5px;
    font-size: 13px;
    color: #000
}

#new_comment_form .grade_content { margin: 0 0 20px 0 }

#new_comment_form .grade_content span,
#new_comment_form .grade_content span {
    display: inline-block;
    padding: 0 10px;
    width: 150px; /* 160 */
    font-weight: bold
}

#new_comment_form .grade_content .cancel { margin-right: 5px }

.new_comment_form_content {
    padding: 15px;
    background: #f8f8f8
}

.new_comment_form_content .intro_form {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 12px
}

#new_comment_form label {
    display: block;
    margin: 12px 0 4px 0;
    font-weight: bold;
    font-size: 12px;
}

#new_comment_form input {
    padding: 0 5px;
    height: 28px;
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
}

#new_comment_form textarea {
    padding: 0 5px;
    height: 80px;
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
}

#new_comment_form .submit {
    margin-top: 20px;
    padding: 0;
    font-size: 13px;
    text-align: right
}

#new_comment_form #criterions_list {
    border-bottom: 1px solid #CCC;
    padding-bottom: 15px;
    list-style-type: none;
}

#new_comment_form #criterions_list li {
    margin-bottom: 10px;
}

#new_comment_form #criterions_list label {
    display: inline;
    float: left;
    margin: 6px 10px 0 60px;
    text-align: right;
    min-width: 150px;
}


#product_comments_block_extra .comments_note div.star, #productCommentsBlock div.star {
    display: inline-block;
    float: left;
    width: 32px;
    height: 32px;
}

#product_comments_block_extra .comments_note div.star_on, #productCommentsBlock div.star_hover, #productCommentsBlock div.star_on {
    background: url(../img/star.png) no-repeat scroll 0 0 transparent !important;
	width: 32px;
    height: 32px;
}

#product_comments_block_extra .comments_note div.star, #productCommentsBlock div.star, #productCommentsBlock div.star_on {
    background: url(../img/star-no.png) no-repeat scroll 0 0 transparent;
	width: 32px;
    height: 32px;
}

#product_comments_block_extra .comments_note div.star_on {
display: inline-block;	
background: none;
}

#product_comments_block_extra .comments_note {
    width: 150px;
    margin:auto;
	padding-top: 0px !important;}

.comments_note {
    width: 135px;
	padding-top: 5px;
    margin:auto;}

.comments_note div.star_on, div.star {
background: none;	
width: 25px;
height: 15px;
}

#new_comment_form div.star {
    display: inline-block;
    float: left;
    width: 32px;
    height: 32px;
}

#new_comment_form div.star_hover, #new_comment_form div.star_on {
    background: url(../img/star.png) no-repeat scroll 0 0 transparent !important;
}

#new_comment_form div.star, #new_comment_form div.star_on {
    background: url(../img/star-no.png) no-repeat scroll 0 0 transparent
}

#new_comment_form, #new_comment_form_footer {
    margin-top: 20px;
    font-size: 12px;
}

#new_comment_form div.star a, #productCommentsBlock .star a {
    display: none;
}


#product_comments_block_tab { margin: 0 0 20px 0 }

#product_comments_block_tab div.comment {
    margin: 0 0 10px 0;
	background: #fff;
    padding: 15px;
    border-bottom: 1px dotted #ccc
}

#product_comments_block_tab div.comment div.comment_author {
    float: left;
    padding-right: 25px;
    width: 240px;
    line-height: 18px
}

#product_comments_block_tab .comment_author span {
    margin-top: 6px;
}

#product_comments_block_tab div.comment div.comment_author span { font-weight: bold; }

#product_comments_block_tab div.comment div.comment_author span,
#product_comments_block_tab div.comment .star_content {
    float: left;
}

#product_comments_block_tab div.comment .star_content {
    margin: 0;
}

#product_comments_block_tab .comment_author_infos {
    clear: both;
    padding-top: 20px;
}

#product_comments_block_tab .comment_author_infos em { color: #999 }

#product_comments_block_tab div.comment div.comment_details {
    float: left;
    overflow: hidden;
    max-width: 800px
}

#product_comments_block_tab div.comment_details .title_block, #product_comments_block_tab div.comment_details h4 { padding-bottom: 10px }

#product_comments_block_tab div.comment_details p { padding-bottom: 10px }

#product_comments_block_tab div.comment_details ul {
    list-style-type: none;
    margin: 0
}


#product_comments_block_tab a {
    text-decoration: none;
    font-weight: bold}

#product_comments_block_tab a:hover { text-decoration: underline }
#product_comments_block_tab button.usefulness_btn {
    cursor: pointer;
    margin: 0 0 0 5px;
    display: inline-block;
    padding: 0 2px;
    border: 1px solid #c0c0c0;
    border-radius: 3px 3px 3px 3px;
    color: #000;
    font-weight: bold;}

#product_comments_block_tab button.usefulness_btn:hover { background-position: left -50px }
#product_comments_block_tab button.usefulness_btn:active { background-position: left -100px }
#product_comments_block_tab span.report_btn { cursor: pointer }
#product_comments_block_tab span.report_btn:hover { text-decoration: underline }

.fl { float: left;}

.fr { float: right;}

.open-comment-form {
    margin-bottom: 20px;}

#newCommentForm {
display: none;
background: #FFF;
}

#product_comments_block_tab .comment_details ul li {
    font-size: 12px
}

#new_comment_form #content {
    width: 100% !important;
    max-width: 100% !important;}

#new_comment_form_ok {
    overflow: hidden;
    clear: both;}